{% extends 'base.html' %}
{% load static %}
{% block content %}
<header style="background: black; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)">
    <h3 style="text-align: center;background: black">
        <div style="height:100px; background: black">
            <a class="" href="/">
                <img src="{% static 'images/logo.png' %}" style="width: 20%; background: black; padding-top: 30px">
            </a>
        </div>
    </h3>
    <hr class="hr-black">
</header>
{% if validlink %}
<div class="modal-dialog">
    <div class="modal-content modal-prop">
        <div class="modal-body">

            <form method="post">
                {% for error in form.non_field_errors %}
                {{error}}
                {% endfor %}
                {% csrf_token %}
                <br/><br/>
                <div class="form-group row justify-content-center">
                    <div class="col-7">
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control input-lg "
                               placeholder="New Password"/>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-7">
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control input-lg"
                               placeholder="Confirm Password"/>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-5">
                        <input type="submit" name="login-submit" id="login-submit"
                               class="btn btn-outline-success" value="Reset Password"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<p class="text-center">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}
{% endblock %}