{% extends 'base.html' %}
{% load static %}
{% block content %}
<header style="background: black; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)">
  <h3 style="text-align: center;background: black" >
      <div style="height:100px; background: black">
            <img src="{% static 'images/logo.png' %}" style="width: 20%; background: black; padding-top: 30px">
      </div>

  </h3>
  <hr class="hr-black">
</header>
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}