{% extends 'base.html' %}
{% load static %}
{% block content %}
<header style="background: black; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)">
  <h3 style="text-align: center;background: black" >
      <div style="height:100px; background: black">
            <img src="{% static 'images/logo.png' %}" style="width: 20%; background: black; padding-top: 30px">
      </div>

  </h3>
  <hr class="hr-black">
</header>
 <div class="modal-dialog">
        <div class="modal-content modal-prop">
            <div class="modal-header">
              <h2 class="text-center">Zrupee Management</h2>
            </div>
             <div class="modal-body">
                Your password has been set. You may go ahead and <a href="{% url 'login' %}">log in</a> now.
             </div>
        </div>
 </div>

{% endblock %}