{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Topup {% endblock %}

{% block content %}


<div class="content-wrapper py-2" style="padding-left: 0.5rem; padding-right: 4rem">
    <p class="heading-right">Topup</p>
    <div class="container-fluid" style="position: relative;">

        <form id="add-topup-form" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="from_user">To User</label>
                        <select id="touser"  name="from_user" class="fill" required>
                        <option value="">-----------</option>
                        {% for zr_user in to_list %}
                            <option value="{{ zr_user.id }}" >{{zr_user.first_name }} {{ zr_user.last_name|default_if_none:""}} ({{ zr_user.mobile_no|default_if_none:""}})</option>
                         {% endfor %}

                    </select>
                        {% if topup_form.from_user.errors %}
                            {{ topup_form.from_user.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select id="type"  name="type" class="fill" required>
                        <option value="">-----------</option>
                            <option value="DMT">DMT</option>
                            <option value="NONDMT">NON DMT</option>
                        </select>


                    </select>

                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        {{ topup_form.amount|attr:"id:amount"|attr:"class:fill" }}
                        {% if topup_form.from_user.errors %}
                            {{ topup_form.from_user.errors }}
                        {% endif %}
                    </div>
                </div>
                 <div class="fill margin-top" style="padding-left:6.5rem">
                <input class="button red" type="submit" value="Save & Submit">
            </div>
            </div>
            <input type="hidden" name = "from_user" id="from_user">
            <input type="hidden" name = "to_user" id="to_user">
        </form>

    </div>

{% endblock %}
