{% extends 'base.html' %}


{% block title %} Transactions List {% endblock %}


{% block content %}

<div class="content-wrapper">
    <p class="head-right">Transactions Table</p>
    <div class="row rm-margin-side">
        <div class="col-2">
            <p class="head-left">START DATE</p>
        </div>
        <div class="col-2">
            <p class="head-left">END DATE</p>
        </div>
    </div>
    <div class="row rm-margin-side">
         <div class="col-2">
            <input id="start-date" name="startDate" width="160" class="search"  value="{{startDate}}"  />
        </div>
         <div class="col-2">
            <input id="end-date" name="endDate" width="160"  class="search" value="{{endDate}}"   />
        </div>
         {% if distributor_list %}
            <div class="col-4">
                <select id="user-distributor-id"  name="user-distributor-id">
                <option value="-1">ALL</option>
                {% for distributor in distributor_list %}
                    <option value="{{ distributor.id }}" {% if  distributor.id == distributor_id %}selected{% endif %}>{{ distributor.first_name }} {{ distributor.last_name|default_if_none:""}}</option>
                 {% endfor %}
            </select>
            </div>
         {% endif %}
         <div class="col-4">
            <select id="user-subdistributor-id" name="user-subdistributor-id">
                <option value="-3">ALL</option>
                {% for key,val in subDistMerchant.items %}
                   <optgroup label = "{{val.0.0}} ">
                       <option value="{{key}}"{% if key == sub_distributor_id  %}selected{% endif %}>ALL-{{val.0.0}}</option>
                        {% for subdrow in val %}
                            <option value="{{subdrow.1}}" {% if subdrow.1 == merchant_id %}selected{% endif %}>{{ subdrow.2 }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
         <div class="div-width-100">
             <br>
             <div class="row">
                 <div class="align-items-center div-width-100">
                    <div class="float-left">
                        <input class="search" id="search-txt" type="search" name="search" value="{{ q }}"
                               placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                        <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                    </div>
                    <input class="button red float-left mar_l_10" type="button" value="Search" id="search-btn">
                    <input class="button red float-right" type="button" value="DOWNLOAD CSV" id="csv-download">
                    <a class="nav-link float-right" href="{% url 'transaction:transaction-list' %}">Reset filters</a>
                    <input hidden id="is_data_exists" value="{% if queryset %}1{% else %}0{% endif %}">
                 </div>
             </div>
             <br>
             <div class="row">
                <div class="fine">
                    <p class="head-bg">Transactions</p>
                </div>
            </div>
             <div class="row scroll">

                 <div class="div-width-100">
                     <table>
                         <tr>
                            <th>Transaction Id</th>
                            <th>Merchant Id</th>
                            <th>Vendor Txn Id</th>
                            <th>status</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Mobile number</th>
                            <th>Customer</th>
                            <th>Amount</th>
                            <th>Additional charges</th>
                            <th>Transaction type</th>
                            <th>Service provider</th>
                         </tr>
                         {% for transaction in queryset %}
                            <tr>
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.user.id }}</td>
                                <td>{{ transaction.vendor_txn_id }}</td>
                                <td>{{ transaction.get_status_display }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.type }}</td>
                                <td>{{ transaction.user.mobile_no }}</td>
                                <td>{{ transaction.customer }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.additional_charges }}</td>
                                <td>{{ transaction.type }}</td>
                                <td>{{ transaction.service_provider.name }}</td>
                            </tr>
                         {% endfor %}
                     </table>
                     <br/>
                     {% if is_paginated %}
                         <div class="pagination">
                             {% if has_prev_page %}
                                <div class="pagination-prev">
                                    <a href="{% url 'transaction:transaction-list' %}?{{ prev_page_qs }}" class="button red">Prev</a>
                                </div>
                             {% endif %}
                             {% if has_next_page %}
                                <div class="pagination-next">
                                    <a href="{% url 'transaction:transaction-list' %}?{{ next_page_qs }} " class="button red">Next</a>
                                </div>
                             {% endif %}
                         </div>
                     {% endif %}
                 </div>
                 <br/><br/>
             </div>
             <br>
         </div>
    </div>

</div>


    <script>
    $(document).ready(function(){
     distributor_id = $("#user-distributor-id").val()
    $("#user-distributor-id").change(function()
     {
        var id = $(this).val();

        url = window.location.pathname
        if (id!="")
        {
            url += '?distributor-id='+id

        }
        window.location.assign(url)
     });


      $("#user-subdistributor-id").change(function(){
            subdistributorId = $("#user-subdistributor-id").val();
            merchantId ="";
            distributor_id = $("#user-distributor-id").val()
             var selectedAll = $("#user-subdistributor-id :selected").text();
             var subdistributorAll ="";
             if (selectedAll.includes("ALL"))
             {
                if(subdistributorId == -1)
                {
                    merchantId = subdistributorId;
                    subdistributorId = "";
                }
             }
             else
             {
                  merchantId = subdistributorId;
                  subdistributorId = "";

             }

             url = window.location.pathname
             if( distributor_id > 0)
             {
                url += '?merchant-id='+merchantId + '&distributor-id='+distributor_id ;
             }
             else
             {
                 url += '?merchant-id='+merchantId
             }

             if(subdistributorId != "")
             {
                url = window.location.pathname+ "?";
                 if (distributor_id)
                    url += "distributor-id="+distributor_id
                url += "&sub-distributor-id="+subdistributorId
             }


             window.location.assign(url)


         });



        $('#user-transaction-id').select2();
        $('#user-distributor-id').select2();
        $('#user-subdistributor-id').select2();

        $('#search-btn').click(function () {
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();
            {% if filter_by %}
                url = window.location.pathname + '?q=' + $('#search-txt').val() + "&filter={{ filter_by }}";
            {% else %}
                url = window.location.pathname + "?q=" + $('#search-txt').val();
            {% endif %}

         if(startDate!="" && endDate!="" )
            {
                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }

            window.location.assign(url)
        });

        $('#user-transaction-id').change(function(){
         user_transaction_id = $('#user-transaction-id').val();
         all = "";

         var selectedAll = $("#user-transaction-id :selected").text();
             if (selectedAll.includes("ALL"))
             {
                all = user_transaction_id;
                user_transaction_id = ""
                 url = window.location.pathname +'?user_transaction_id=' + all
             }


              if(user_transaction_id !="")
                {
                    url = window.location.pathname +'?user_transaction_id=' + user_transaction_id
                }

          window.location.assign(url)
        });



        $('#csv-download').click(function () {
            if($("#is_data_exists").val() == "1"){
            url = "{% url 'transaction:transaction-csv' %}" + window.location.search;
            console.log(url);
            window.location.assign(url)
            }
            else {
                alert("No data available to download!!");
            }
        });

        var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            },  maxDate: function () {
                return today;
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });
     });
    </script>
{% endblock %}

