{% extends 'base.html' %}


{% block title %} Transactions List {% endblock %}


{% block content %}

    <div class="content-wrapper">
        <p class="head-right">Transactions Table</p>
        <div class="row rm-margin-side">
            <p class="head-left">PERIOD</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between" style="width:90%">
                <select>
                    <option>Today</option>
                    <option>Last Week</option>
                    <option>Last Month</option>
                </select>
                <div style="position: relative;">
                    <input class="search" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                    <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                </div>
                <input class="button red" type="button" value="DOWNLOAD CSV">
            </div>
        </div>
        <br>
            <div class="row" style="padding-right: 50px;">
                <div class="fine">
                    <p class="head-bg head-bg2">Transactions<i class="fa fa-chevron-up"
                                                                                      style="color:white;"></i></p>
                </div>
            </div>
            <div class="row scroll">

                <div style="width: 100%;">
                    <table>
                        <tr>
                            <th>Merchant Id</th>
                            <th>Vendor Txn Id</th>
                            <th>status</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Amount</th>
                        </tr>
                        {% for transaction in transaction_list %}
                            <tr>
                                <td>{{ transaction.merchant.id }}</td>
                                <td>{{ transaction.vendor_txn_id }}</td>
                                <td>{{ transaction.get_status_display }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.type }}</td>
                                <td>{{ transaction.amount }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
            <br>
    </div>




{% endblock %}

