{% extends "base.html" %}
{% block content %}
<div class="container">
    <br/><br/>
    <input id="loan_id" type="text">
    <button onclick="getLoanStatus()">Get Loan status</button>

    <div id="response"></div>
</div>

<input type="hidden" value="Hidden Element" name="hidden">
</form>
{% endblock %}

{% block javascript %}
<Script>
function getLoanStatus() {
  var loader_el = document.getElementById("loader");
  loader_el.style.display = "block";
  var loan_id = document.getElementById("loan_id").value;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log(this.responseText);
      document.getElementById("response").innerHTML = this.responseText;
       loader_el.style.display = "none";
    }
  };
  xhttp.open("GET", "/get-loan-api-status" + "/" + loan_id, true);
  xhttp.send();
}

</Script>
{% endblock %}