{% extends "base.html" %}

{% block css %}
<style>
.not_done{
	background-color: #ff7f7f 
}

.done{
	background-color: #90EE90
}
.attribute {
	background-color: #f7f7f7;
	display: none;
}

</style>
{% endblock %}

{% block content %}
<a href="http://localhost:8000/admin/frontpage/project/{{id_p}}/change/">Edit</a>
<div class="container col-md-6" style="margin-top: 2%;">
    <h3> Checklist </h3>
    {% for object in project %}
    <table class="table table-striped col-md-6">
        {% for field, value in object.fields.items %}
        <tr>
            {% if value == 'True' %}
            <td class="done">{{ field }} : {{ value }}</td>
            {% elif value == 'False' %}
            <td class="not_done">{{ field }} : {{ value }}</td>
            {% else %}
            <td class="attribute">{{ field }} : {{ value }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}