{% extends 'base.html' %}

{% block title %} Commissions List {% endblock %}


{% block content %}
    <div class="content-wrapper">
        <p class="head-right">Commissions</p>

        <div class="row rm-margin-side">
            <div class="col-12">
                <p class="head-bg">My Commission Balance:</p>
            </div>
        </div>
        <div class="row rm-margin-side">
            <p class="inr">Net Commission INR {% if total_commission %} {{ total_commission }} {% else %} 0 {% endif %}</p>
        </div>

        <div class="row rm-margin-side">
            <div class="col-2">
                <p class="head-left">START DATE</p>
            </div>
            <div class="col-2">
                <p class="head-left">END DATE</p>
            </div>
        </div>
        <div class="row rm-margin-side">
            <div class="col-2">
                <input id="start-date" name="startDate" width="160" class="search"  value="{{startDate}}"  />
            </div>
            <div class="col-2">
                <input id="end-date" name="endDate" width="160"  class="search" value="{{endDate}}"   />
            </div>
        </div>
        <br>
        <div class="row rm-margin-side">
            <div class="row div-width-100">
                <div class="align-items-center div-width-100">
                    <div class="float-left">
                        <input id="search-txt" {% if search %}value={{ search }}{% endif %} class="search" type="search" name="search" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                        <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                    </div>

                    <input class="button red float-left mar_l_10" type="button" value="Search" id="search">
                    <input class="button red float-right mar_l_10" type="button" value="DOWNLOAD CSV" id="download-csv">
                    <a href='{% url "commission:display-commission" %}' class="float-right mar_l_10">Reset filters</a>
                </div>
            </div>

        </div>
        <br>
        <div class="row rm-margin-side">
            <div class="row div-width-100">
                <div class="fine">
                    <p class="head-bg">Transactions, Commissions and Taxes</p>
                </div>
            </div>
            <div class="row scroll div-width-100" style="overflow: auto;">
                <div class="div-width-100">
                    <table class=''>
                        <thead>
                            <th>Transaction ID</th>
                            <th>Tr. Amount</th>
                            <th>Tr. Type</th>
                            <th>Gross Commission</th>
                            <th>TDS amount</th>
                            <th>GST amount</th>
                            <th>Net Commission</th>
                        </thead>
                    <div class="">
                            <tbody>
                                {% for com in commissions.object_list %}
                                    <tr>
                                        <td>{{ com.transaction_id }}</td>
                                        <td>{{ com.transaction.amount }}</td>
                                        <td>{{ com.transaction.type }}</td>
                                        <td>{{ com.gross_amount }}</td>
                                        <td>{{ com.user_tds }}</td>
                                        <td>{{ com.user_gst }}</td>
                                        <td>{{ com.net_commission }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br/>

                            <div class="pagination">
                                {% if commissions.has_previous %}
                                    <div class="pagination-prev">
                                        {% if qs %}
                                            <a href='{% url "commission:display-commission" %}?{{ qs }}&pg-no={{ commissions.previous_page_number }}' class="button red">Prev</a>
                                        {% else %}
                                            <a href='{% url "commission:display-commission" %}?pg-no={{ commissions.previous_page_number }}' class="button red">Prev</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if commissions.has_next %}
                                    <div class="pagination-next">
                                        {% if qs %}
                                        <a href='{% url "commission:display-commission" %}?{{ qs }}&pg-no={{ commissions.next_page_number }}' class="button red">Prev</a>
                                        {% else %}
                                        <a href='{% url "commission:display-commission" %}?pg-no={{ commissions.next_page_number }}' class="button red">Next</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <script>
    $(document).ready(function(){
        $('#search').click(function(){
            startDate = $('#start-date').val();
            endDate = $('#end-date').val();
            qs = "{{ qs }}"
            {% if qs %}
                url = "{% url "commission:display-commission" %}?{{ qs }}"
            {% else %}
               url = "{% url "commission:display-commission" %}"
            {% endif %}

             if(startDate!="" && endDate!="" )
            {
                url = window.location.pathname +'?startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }


            if(qs != '') {
                url += '&q=' + $('#search-txt').val()
                window.location.assign(url)
            } else {
                url
                window.location.assign(url)
            }
            console.log(qs)


            if($('#search-txt').val() == ''){
                return
            }
        });

         var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            },  maxDate: function () {
                return today;
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });
     });

    </script>

    <script>
        $("#period").change(function() {
            period = $(this).val()
            qs = "{{ qs }}"
            {% if qs %}
                url = "{% url "commission:display-commission" %}?{{ qs }}"
            {% else %}
                url = "{% url "commission:display-commission" %}"
            {% endif %}

            if(qs != '') {
                url += '&period=' + period
                window.location.assign(url)
            } else {
                url += '?period=' + period
                window.location.assign(url)
            }
            console.log(qs)
        })
    </script>

    <script>
        $('#download-csv').click(function(){
            window.location.assign('{% url "commission:commission-request-csv" %}')
        })
    </script>
{% endblock %}