{% extends 'base.html' %}


{% block title %} Commissions List {% endblock %}


{% block content %}

<div class="content-wrapper">
    <p class="head-right">Commissions</p>
{#    <div class="row">#}
{#        <p class="head-bg">PERSONAL DETAILS:</p>#}
{#    </div>#}
    <div class="row">
{#        <div class="d-flex justify-content-between resize">#}
{#            <p class="inr">INR 24,576</p>#}
{#            <input class="button red resize" type="button" value="REQUEST CREDIT">#}
{#        </div>#}
        <!-- <div class="col-md-3 margin-top">
            <p class="inr">INR 24,576</p>
        </div>
        <div class="col-md-3 margin-top">
            <input class="button red small" type="button" value="REQUEST CREDIT">
        </div> -->
    </div>

    <div class="row rm-margin-side">
        <p class="head-left">PERIOD</p>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between" style="width:90%" >
        <!-- <div class="col-md-6 pad-0"> -->
        <!-- <div class="row pad-0"> -->
            <!-- <div class="col-md-4 pad-0"> -->
                <select>
                    <option>Today</option>
                    <option>Last Week</option>
                    <option>Last Month</option>
                </select>
            <!-- </div> -->
            <!-- <div class="col-md-4 pad-0"> -->
                <input class="search" type="search" name="search" placeholder="search">
            <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="col-md-6 pad-0"> -->
        <!-- <div class="row"> -->
        <!-- <div class="col-md-4 pad-0"> -->
            <input class="button green"  type="button" value="TDS CERTIFICATES">
        <!-- </div> -->
        <!-- <div class="col-md-4 pad-0"> -->
            <input class="button red" type="button" value="DOWNLOAD CSV">
            <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="fine">
            <p class="head-bg head-bg2">Transactions, Commissions and Taxes<i class="fa fa-chevron-up" style="color:white;"></i></p>
        </div>
    </div>
    <div class="row scroll">

        <div class="divTable" style="width: 100%;" >
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableHead" style="color:#DB3725;">my commission after TDS</div>
                    <div class="divTableHead">Merchant commission</div>
                    <div class="divTableHead">Merchant ID</div>
                    <div class="divTableHead">name</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell line">23</div>
                    <div class="divTableCell line">12</div>
                    <div class="divTableCell line">zyx</div>
                    <div class="divTableCell line">merhcant 1</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
            </div>
        </div>

    </div>
    <br>

{% endblock %}