/*select resized for commissions*/
select{
	width:10rem;
}
/*different types of text heading and theri alignments made accordingly*/

/*text styles*/
p{
	width:100%;
	color:#818181;
	margin:0rem;
}

p.head-right{
	font-size:25px;
	text-align:right;
	padding-right:3rem;
}
p.head-left{
	font-size:1.2em;
	text-align:left;
	margin:0rem;
}
p.inr{
	font-size:25px;
	width:100%;
	text-align:right;
	padding:10px 2rem 0px 2rem;
	color:#818181;
}

/*headings*/
p.head-bg{
	width:100%;
	color:white;
	background-color: black;
	padding: 0.3rem 1rem 0.3rem 1rem;
	border-radius: 11px 11px 11px 11px;
	font-size:0.7em;
	box-shadow: 0px 0px 5px 0px #F4F3F3;

}

.d-flex.resize{
	width:40%;
}

/*button styling for this page*/
.button.right{
	margin-left: 30%;
}
.button.red.resize{
	font-size:0.8rem;
	margin:0.5rem;
	padding:0rem 0.5rem;
}

/*minute adjustments for margins and positioning*/

.margin-top{
	margin-top:1em;
}

.rm-margin-side{
	padding-left: 0em ;
}
.fine{
	width:94%;
	border-radius: 11px 11px 0px 0px;
	background-color: #F4F3F3;
}


.locate{
	margin-top:-5rem;
    margin-left:72%;
    position: absolute;
    
}
/*search box styling*/
/*.search{
	width:100%;
	border-radius:5px;
	padding-left: 1rem;
	box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.4);
}*/

/*row padding and margin for this page*/
.row{
	padding-left:3rem;
	padding-right:1rem;
}



/*aline for table*/
.line{
	background-color: #BEBDBD;
	height:3px;
}

/*table div and its elements*/

.divTable{
	margin-left: 4rem;
	width: 100%;
}
.divTableRow {
	display: table-row;
}

.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
}
.divTableBody {
	display: table-row-group;
}
.divTableCell input[type ="button"]{
	/*padding:3px 15px;*/
	font-size: 0.7rem;
	padding:5% 30%;
}

/*scroll*/
.scroll{
	width:94%;
	overflow:scroll;
	background-clip:content-box; 
	background-color: #F4F3F3;
	height:200px;
}
/*scroll bar styling &&stillneedswork*/

/*.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scroll::-webkit-scrollbar-button {
  width: 100px;
  height: 100px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border: 0px ridge #d51010;
  border-radius: 25px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}
.scroll::-webkit-scrollbar-thumb:active {
  background: #5a5a5a;
}
.scroll::-webkit-scrollbar-track {
  background: #f4f3f3;
  border: 0px solid #ffffff;
  border-radius: 0px;
}
.scroll::-webkit-scrollbar-track:hover {
  background: #f4f3f3;
}
.scroll::-webkit-scrollbar-track:active {
  background: #ae3838;
}
.scroll::-webkit-scrollbar-corner {
  background: transparent;
}
*/

p i.fa{
	margin-left:0.5rem;
}