{% extends 'base.html' %}

{% block title %} Payment Requests List {% endblock %}

{% block content %}

    <div class="content-wrapper">
        <p class="head-right">Payment Request Table</p>
        <div class="row rm-margin-side">
            <p class="head-left">Date</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between" style="width:90%">
                <select>
                    <option>Today</option>
                    <option>Last Week</option>
                    <option>Last Month</option>
                </select>
                <input class="search" type="search" name="search" placeholder="search">
                <input class="button red" type="button" value="DOWNLOAD CSV">
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="fine">
                    <p class="head-bg head-bg2">New Requests<i class="fa fa-chevron-up"
                                                                                      style="color:white;"></i></p>
                </div>
            </div>
            <div class="row scroll">

                <div style="width: 100%;">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Type</th> {# DMT or Non DMT#}
                            <th>Amount</th>
                            <th>Payment Mode</th>
                            <th>Merchant Name</th>
                            <th>Merchant Id</th>
                            <th>Ref Id</th>
                            <th>Actions</th>
                        </tr>
                        {% for payment_request in payment_request_list %}
                            <tr>
                                <td>{{ payment_request }}</td>
                                <td>{{ payment_request }}</td>
                                <td>{{ payment_request }}</td>
                                <td>{{ payment_request }}</td>
                                <td>{{ payment_request }}</td>
                                <td>{{ payment_request }}</td>
                                <td>{{ payment_request }}</td>
                                <td><input type="button" class="button green" value="Approve"></td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>

            </div>
            <br>
        </div>
    </div>




{% endblock %}
