{% extends 'base.html' %}

{% block title %} Payment Requests List {% endblock %}

{% block content %}

    <div class="content-wrapper">
        <p class="head-right">Payment Request Table</p>
        <div class="row rm-margin-side">
            <p class="head-left">Date</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between" style="width:90%">
                <select id="timespan-filter" >
                    <option value="today" {% if filter_by == "today" %} selected {% endif %}>Today</option>
                    <option value="last_week" {% if filter_by == "last_week" %} selected {% endif %}>Last Week</option>
                    <option value="last_month" {% if filter_by == "last_month" %} selected {% endif %}>Last Month</option>
                </select>
                <div style="position: relative;">
                    <input class="search" id="search-txt" type="search" name="search" value="{% if q %}{{ q }}{% endif %}" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                    <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                </div>
                <input type="button" id="search-btn" class="button red" value="Search">
                <a href='{% url "payment-requests:payment-request-list" %}' >Reset filters</a>
                <input class="button red" type="button" value="DOWNLOAD CSV" id="download-csv" >
            </div>
        </div>
        <br>
        <div>
            <div class="row" style="padding-right: 50px;">
                <div class="fine">
                    <p class="head-bg head-bg2">New Requests</p>
                </div>
            </div>
            <div class="row scroll">

                <div style="width: 100%;">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Type</th> {# DMT or Non DMT#}
                            <th>Amount</th>
                            <th>Payment Mode</th>
                            <th>Merchant Name</th>
                            <th>Merchant Id</th>
                            <th>Ref Id</th>
                            <th>Actions</th>
                        </tr>
                        {% for payment_request in payment_request_list %}
                            <tr>
                                <td>{{ payment_request.at_created }}</td>
                                <td>TYPE</td>
                                <td>{{ payment_request.amount }}</td>
                                <td>{{ payment_request.merchant_payment_mode }}</td>
                                <td>
                                    {{ payment_request.merchant.first_name }}
                                    {% if payment_request.merchant.last_name %}
                                        {{ payment_request.merchant.last_name }}
                                    {% endif %}
                                </td>
                                <td>{{ payment_request.merchant.id }}</td>
                                <td>{{ payment_request.merchant_ref_no }}</td>
                                {% if request.user.is_superuser or request.user.zr_admin_user.role.name == "ADMINSTAFF" %}
                                    {% if payment_request.is_admin_approved == None %}
                                        <td><input type="button" class="button green payment" value="Approve" onclick="approve_payment_req({{ payment_request.pk }})"></td>
                                    {% elif payment_request.is_admin_approved == False %}
                                        <td>Rejected</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% elif request.user.zr_admin_user.role.name == "DISTRIBUTOR" %}
                                    {% if payment_request.is_distributor_approved == None %}
                                        <td><input type="button" class="button green payment" value="Approve" onclick="approve_payment_req({{ payment_request.pk }})"></td>
                                    {% elif payment_request.is_admin_approved == False %}
                                        <td>Rejected</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                    </table>

                    <br />
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    {% if filter_by and q %}
                                        <a href="/payment_request?page={{ page_obj.previous_page_number }}&filter={{ filter_by }}&q={{ q }}">previous</a>
                                    {% elif q %}
                                        <a href="/payment_request?page={{ page_obj.previous_page_number }}&q={{ q }}">previous</a>
                                    {% elif filter_by %}
                                        <a href="/payment_request?page={{ page_obj.previous_page_number }}&filter={{ filter_by }}">previous</a>
                                    {% endif %}
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    {% if filter_by and q %}
                                        <a href="/payment_request?page={{ page_obj.next_page_number }}&filter={{ filter_by }}&q={{ q }}">next</a>
                                    {% elif q %}
                                        <a href="/payment_request?page={{ page_obj.next_page_number }}&q={{ q }}">next</a>
                                    {% elif filter_by %}
                                        <a href="/payment_request?page={{ page_obj.next_page_number }}&filter={{ filter_by }}">next</a>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                </div>

            </div>
            <br>
        </div>
    </div>

    <script>
        $("#timespan-filter").change(
            function() {
                var input = document.getElementById("timespan-filter");
                url = "{{ request.path }}?filter=" + input.value;
                {% if q %}
                    url += "&q={{ q }}";
                {% endif %}
                window.location = url
            }
        )

        function approve_payment_req(id) {
            window.location = "{{ request.path }}?payment-approve=" + id;
        }
    </script>


<script>
    $('#search-btn').click(function(){
        search = $('#search-txt').val()
        {% if filter_by %}
            url = window.location.pathname + '?q=' + $('#search-txt').val() + "&filter={{ filter_by }}"
        {% else %}
            url = window.location.pathname + "?q=" + $('#search-txt').val()
        {% endif %}
        window.location.assign(url)
    })

    $('#download-csv').click(function(){
        url = '{% url "payment-requests:payment-request-csv" %}' + window.location.search
        window.location.assign(url)
    })
</script>
{% endblock %}
