{% extends 'base.html' %}

{% block title %} Payment Requests List {% endblock %}

{% block content %}
    <style>
        td {
            min-width : 100px;
            padding-left: 25px;
        }
    </style>

    <div class="content-wrapper">
        <p class="head-right">Payment Request Table</p>
        <div class="row rm-margin-side">
            <p class="head-left">Date</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between" style="width:90%">
                <select id="timespan-filter" >
                    <option value="today" {% if filter_by == "today" %} selected {% endif %}>Today</option>
                    <option value="last_week" {% if filter_by == "last_week" %} selected {% endif %}>Last Week</option>
                    <option value="last_month" {% if filter_by == "last_month" %} selected {% endif %}>Last Month</option>
                </select>
                <div style="position: relative;">
                    <input class="search" id="search-txt" type="search" name="search" value="{% if q %}{{ q }}{% endif %}" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                    <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                </div>
                <input type="button" id="search-btn" class="button red" value="Search">|
                <a href='{% url "payment-requests:payment-request-sent-view" %}?view-all=true'>View all sent requests</a>|
                <a href='{% url "payment-requests:payment-request-list" %}' >Reset filters</a>
                <input class="button red" type="button" value="DOWNLOAD CSV" id="download-csv" >
                {% csrf_token %}
                <input type="hidden" id="request_id" value="">
            </div>
        </div>
        <br>
        <div>
            <div class="row" style="padding-right: 50px;">
                <div class="fine">
                    <p class="head-bg head-bg2">New Requests</p>
                </div>
            </div>
            <div class="row scroll">

                <div style="width: 100%;     overflow: scroll;">
                    <table>
                        <tr style="border-bottom-style: solid;">
                            <th>Actions</th>
                            <th>Refund</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>DMT Amount</th>
                            <th>NON DMT Amount</th>
                            <th>Payment Mode</th>
                            <th>From User Name</th>
                            <th>From Bank Account Number</th>
                            <th>To Bank Account Number</th>
                            <th>From bank</th>
                            <th>To bank</th>
                            <th>Ref Id</th>
                        </tr>
                        {% for payment_request in payment_request_list %}
                            <tr>
                                <td>
                                    {% if is_superuser %}
                                        {% with payment_request.pk as payment_id %}
                                            {% if payment_request.status == 0 %}
                                                <input type="button" class="button green payment change_request_id" style="font-size: 80%;" value="Approve" data-toggle="modal" data-target="#confirm_approve" data-slug-id="{{ payment_request.pk }}">
                                                <input type="button" class="button red payment change_request_id" style="font-size: 80%;" value="Reject" data-toggle="modal" data-target="#confirm_reject" data-slug-id="{{ payment_request.pk }}">
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        {% if wallet.dmt_balance >= payment_request.dmt_amount and wallet.non_dmt_balance >= payment_request.non_dmt_amount %}
                                            {% with payment_request.pk as payment_id %}
                                                {% if payment_request.status == 0 %}
                                                    <input type="button" class="button green payment change_request_id" style="font-size: 80%;" value="Approve" data-toggle="modal" data-target="#confirm_approve" data-slug-id="{{ payment_request.pk }}">
                                                    <input type="button" class="button red payment change_request_id" style="font-size: 80%;" value="Reject" data-toggle="modal" data-target="#confirm_reject" data-slug-id="{{ payment_request.pk }}">
                                                {% endif %}
                                            {% endwith %}
                                        {% else %}
                                            {% if payment_request.status == 0 %}
                                                {% if wallet.dmt_balance < payment_request.dmt_amount and wallet.non_dmt_balance < payment_request.non_dmt_amount %}
                                                    Insufficient balance in DMT and NON DMT wallets
                                                {% elif not wallet.dmt_balance >= payment_request.dmt_amount %}
                                                    Insufficient balance in DMT wallet
                                                {% elif not wallet.non_dmt_balance >= payment_request.non_dmt_amount %}
                                                    Insufficient balance in Non DMT wallet
                                                {% endif %}
                                            {% endif %}
                                    {% endif %}{% endif %}
                                </td>
                                <td>
                                    {% if payment_request.status == 1 and not payment_request.status == 3 %}
                                        <input type="button" class="button red payment change_request_id confirm_refund_select" value="Refund" data-toggle="modal" data-target="#confirm_refund" data-slug-id="{{ payment_request.pk }}">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment_request.status == 0 %}
                                        Pending
                                    {% elif payment_request.status == 1 %}
                                        Accepted
                                    {% elif payment_request.status == 2 %}
                                        Rejected
                                    {% elif payment_request.status == 3 %}
                                        Refunded
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>{{ payment_request.at_created }}</td>
                                <td>{{ payment_request.amount }}</td>
                                <td>{{ payment_request.dmt_amount }}</td>
                                <td>{{ payment_request.non_dmt_amount }}</td>
                                <td>{{ payment_request.payment_mode }}</td>
                                <td>
                                    {{ payment_request.from_user.get_full_name }}
                                </td>
                                <td>
                                    {{ payment_request.from_account_no }}
                                </td>
                                <td>
                                    {{ payment_request.to_account_no }}
                                </td>
                                <td>
                                    {{ payment_request.from_bank.bank_name }}
                                </td>
                                <td>
                                    {{ payment_request.to_bank.bank_name }}
                                </td>
                                <td>{{ payment_request.ref_no|default_if_none:"N/A" }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <br />
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_previous %}
                                    {% if filter_by and q %}
                                        <a href="/payment_request?page={{ page_obj.previous_page_number }}&filter={{ filter_by }}&q={{ q }}">previous</a>
                                    {% elif q %}
                                        <a href="/payment_request?page={{ page_obj.previous_page_number }}&q={{ q }}">previous</a>
                                    {% elif filter_by %}
                                        <a href="/payment_request?page={{ page_obj.previous_page_number }}&filter={{ filter_by }}">previous</a>
                                    {% else %}
                                        <a href="/payment_request?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}
                                {% endif %}
                                {% if page_obj.has_next %}
                                    {% if filter_by and q %}
                                        <a href="/payment_request?page={{ page_obj.next_page_number }}&filter={{ filter_by }}&q={{ q }}">next</a>
                                    {% elif q %}
                                        <a href="/payment_request?page={{ page_obj.next_page_number }}&q={{ q }}">next</a>
                                    {% elif filter_by %}
                                        <a href="/payment_request?page={{ page_obj.next_page_number }}&filter={{ filter_by }}">next</a>
                                    {% else %}
                                        <a href="/payment_request?page={{ page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                </div>

            </div>
            <br>
        </div>
    </div>

        <!-- Modal HTML Markup -->
    <div id="confirm_approve" class="modal fade" data-backdrop="static">
        <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Payment Request
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure want to Approve payment request ?
            </div>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-primary btn-small max-225 approve_payment_confirm">Yes
                    </button>
                    <button type="button" class="btn btn-default btn-small max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
    </div>
    </div>


    <div id="confirm_refund" class="modal fade" data-backdrop="static">
        <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Payment refund
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure want to refund payment request?
            </div>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-primary btn-small max-225 confirm_refund_btn">Yes
                    </button>
                    <button type="button" class="btn btn-default btn-small max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <!-- /.modal -->

    <!-- Modal HTML Markup -->
    <div id="confirm_reject" class="modal fade" data-backdrop="static">
        <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Payment Request
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure want to Reject payment request?
            </div>
            <textarea rows="4" cols="40" id="rejection_reason" placeholder="Reason for reject"></textarea>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">

                    <button type="button" class="btn btn-primary btn-small max-225 reject_payment_confirm">Yes
                    </button>
                    <button type="button" class="btn btn-default btn-small max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <!-- /.modal -->

<script>
    window.current_payment_request = null
    $('#search-btn').click(function(){
        search = $('#search-txt').val();
        {% if filter_by %}
            url = window.location.pathname + '?q=' + $('#search-txt').val() + "&filter={{ filter_by }}"
        {% else %}
            url = window.location.pathname + "?q=" + $('#search-txt').val()
        {% endif %}
        window.location.assign(url)
    })

    $('#download-csv').click(function(){
        url = '{% url "payment-requests:payment-request-csv" %}' + window.location.search
        window.location.assign(url)
    })
</script>
{% endblock %}


{% block extrascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script>
     // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

         $('body')
             .on('click', '.change_request_id',function() {
                 $('#request_id').val($(this).attr('data-slug-id'));
             })

            .on('click','.approve_payment_confirm',function() {
                 var request_id = $('#request_id').val();
                console.log(request_id);
                <!-- AJAX Call -->
                data = {
                    'request_id': request_id
                };
                data = JSON.stringify(data);
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '/payment_request/accept_payment_request/',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    },
                    error: function (data) {
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }
                });
                <!-- AJAX Call -->
            })

            .on('click','.reject_payment_confirm',function() {
                 var request_id = $('#request_id').val();
                console.log(request_id);
                <!-- AJAX Call -->
                var rejection_reason = document.getElementById("rejection_reason").value;
                if (!rejection_reason){
                    alert('Please enter reason for rejection');
                    return;
                }
                data = {
                    'request_id': request_id,
                    'rejection_reason': rejection_reason
                };
                data = JSON.stringify(data);
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '/payment_request/reject_payment_request/',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        console.log(data);
                        $('#confirm_reject').toggle();
                        if (data.success) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    },
                    error: function (data) {
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }
                });
                <!-- AJAX Call -->
            });

        $("#timespan-filter").change(
            function() {
                var input = document.getElementById("timespan-filter");
                url = "{{ request.path }}?filter=" + input.value;
                {% if q %}
                    url += "&q={{ q }}";
                {% endif %}
                window.location = url
            }
        );

        $('.confirm_refund_select').click(function(){
            window.current_payment_request = $(this).attr('data-slug-id')
            console.log(window.current_payment_request);
        })

        $('.confirm_refund_btn').click(
            function(e) {
                window.location = '{% url "payment-requests:refund-request-view" %}?payment_request=' + window.current_payment_request;
            }
        )
    </script>
{% endblock extrascripts %}
