{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Add LoyaltyCard {% endblock %}

{% block content %}

<div class="content-wrapper py-2" style="padding-left: 0.5rem; padding-right: 4rem">
    <p class="heading-right">Add Loyalty Cards</p>
    {% if api_error %}
      <div class="alert alert-danger" id="alert_msg" style="text-align:center">{{ api_error }}</div>
    {% endif %}

    <form id="add-card-form" method="POST">
    <div class="container-fluid" style="position: relative;">
        <div class="row">
            <p class="heading-bg">CARD DETAILS:</p>
        </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state">Quantity</label>
                        <input type="number" min="1" max="100" name="quantity" value="quantity" REQUIRED>
                    </div>
                </div>
            </div>
    </div>
        <div class="col-md-5 colAlignment" style="float:right;">
            <div class="fill margin-top" style="padding-left:6.5rem">
                <input class="button red" type="submit" value="Create & Save Cards">
            </div>
        </div>
        {% csrf_token %}
        </form>
    <label class="fill"></label>
</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


<script type="text/undercore-template" id="form-hidden-input">
    <input type="hidden" id="<%=id%>" name="<%=id%>" value="<%=value%>" >
</script>

{% endblock %}
