{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Add LoyaltyCard {% endblock %}

{% block content %}

<div class="content-wrapper scrollbar scrollbar-black bordered-black">
    <p class="head-right">Add Loyalty Cards</p>
    {% if api_error %}
      <div class="alert alert-danger" id="alert_msg" style="text-align:center">{{ api_error }}</div>
    {% endif %}

    <form id="add-card-form" method="POST">
        <div class="container-fluid" style="position: relative;">
            <div class="row d-flex justify-content-start">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Retailer</label>
                        <select id="retailer-id"  name="retailer-id" required>
                            <option value="">Select</option>
                            {% for retailer in retailer_list %}
                                <option value="{{ retailer.id }}" {% if  retailer.id == retailer_id %}selected{% endif %}>{{ retailer.first_name }} {{ retailer.last_name|default_if_none:""}} : {{retailer.mobile_no}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 ml-3">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" class="fill form-control" style="box-shadow: 2px 5px 11px #f3f1f1; padding-left: 1rem;" min="1" max="100" name="quantity" value="" REQUIRED>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col-md-5 float-right">
                    <div class="margin-top float-right" >
                        <input class="btn btn-outline-success" type="submit" name = "save" value="Create & Save Cards">
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>
    <label class="fill"></label>
</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


<script type="text/undercore-template" id="form-hidden-input">
    <input type="hidden" id="<%=id%>" name="<%=id%>" value="<%=value%>" >
</script>

<script>
    $(document).ready(function() {
        $('#retailer-id').select2();
    })
</script>
{% endblock %}
