{% extends 'base.html' %}

{% block title %} Distributors List {% endblock %}

{% block content %}

    <div class="content-wrapper">
        <p class="head-right">Distributor Table</p>
        <div class="row rm-margin-side">
            <p class="head-left">PERIOD</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between" style="width:90%">
                <select>
                    <option>Today</option>
                    <option>Last Week</option>
                    <option>Last Month</option>
                </select>
                <input class="search" type="search" name="search" placeholder="search">
                <input class="button red" type="button" value="DOWNLOAD CSV">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="fine">
                <p class="head-bg head-bg2">List of Distributors<i class="fa fa-chevron-up"
                                                                                  style="color:white;"></i></p>
            </div>
        </div>
        <div class="row scroll">

            <div style="width: 100%;">
                <table>
                    <tr>
                        <th>Distributor Id</th>
                        <th>Distributor Name</th>
                        <th>DOJ</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    {% for distributor in distributor_list %}
                        <tr>
{#                            <td>{{ distributor.id }}</td>#}
{#                            <td>{{ distributor.first_name }} {{ distributor.last_name |default_if_none:""}}</td>#}
{#                            <td>{{ distributor.state }}</td>#}
{#                            <td>{{ distributor.email }}</td>#}
{#                            <td>{{ distributor.is_active }}</td>#}
{#                            <td>{{ distributor. }}</td>#}

                            <td>{{ distributor.id }}</td>
                            <td>{{ distributor.first_name }} {{ distributor.last_name|default_if_none:""}}</td>
                            <td>{{ distributor.at_created }}</td>
                            <td>{{ distributor.mobile_no }}</td>
                            <td>{{ distributor.email }}</td>
                            <td>{{ distributor.is_active }}</td>
                            <td>Action</td>
                        </tr>

                    {% endfor %}
                </table>
            </div>

        </div>
        <br>
    </div>




{% endblock %}