{% extends 'base.html' %}

{% block title %} Merchants List {% endblock %}

{% block content %}

<div class="content-wrapper">
    <p class="head-right">Merchant Table</p>
    <div class="row rm-margin-side">
        <div class="col-2">
            <p class="head-left">START DATE</p>
        </div>
        <div class="col-2">
            <p class="head-left">END DATE</p>
        </div>
    </div>
    <div class="row rm-margin-side">
        <div class="col-2">
            <input id="start-date" name="startDate" width="160" class="search"  value="{{startDate}}"  />
        </div>
        <div class="col-2">
            <input id="end-date" name="endDate" width="160"  class="search" value="{{endDate}}"   />
        </div>
        <div class="col-4">
            <select id="user-id" name="user-id">
                <option value="-1">ALL</option>
                {% for userData in user_list %}
                    <option value="{{userData.id}}"{% if userData.id == user_id %}selected{% endif %}>{{userData.first_name}}-{{userData.last_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="div-width-100">
            <br>
            <div class="row">
                <div class="align-items-center div-width-100">
                    <div class="float-left">
                        <input class="search" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                        <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                    </div>
                    <input class="button red float-left mar_l_10" type="button" value="Search" id="search-btn">
                    <input class="button red float-right" type="button" value="DOWNLOAD CSV" id="csv-download">
                    <a class="nav-link float-right" href="{% url 'user:kyc-requests' %}">Reset filters</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="fine">
                    <p class="head-bg">KYC Requests</p>
                </div>
            </div>
            <div class="row scroll">
                <div style="width: 100%;">
                    <table>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Doj</th>
                            <th>KYC's</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        {% for kyc_req in object_list %}
                        <tr>
                            <td>{{kyc_req.id}}</td>
                            <td>{{ kyc_req.first_name }} {% if kyc_req.last_name %}{{ kyc_req.last_name }}{% endif %} </td>
                            <td>{{ kyc_req.role.name }}</td>
                            <td>{{ kyc_req.at_created|date:"d/m/Y" }}</td>
                            <td>
                                {% if kyc_req.in_process %}
                                    {% for kyc in kyc_req.kyc_details.all %}
                                        {% if kyc.approval_status == 'I' %}
                                            <a href="{{ kyc.get_download_url }}">{{kyc.type}}</a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    No kyc documents
                                {% endif %}
                            </td>
                            <td>
                                {% if kyc_req.kyc_details.last.approval_status == 'I' %}
                                    In Process
                                {% elif kyc_req.kyc_details.last.approval_status == 'A' %}
                                    Approved
                                {% elif kyc_req.kyc_details.last.approval_status == 'R' %}
                                    Rejected
                                {% endif %}
                            </td>
                            <td>
                                {% if kyc_req.in_process %}
                                    <a href='{% url "user:kyc-requests" %}?approve={{ kyc_req.id }}'>Approve</a>
                                    <a href='{% url "user:kyc-requests" %}?reject={{ kyc_req.id }}'>Reject</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br/>
                     {% if is_paginated %}
                        <div class="pagination">
                            {% if page_obj.has_previous %}
                                <div class="pagination-prev">
                                    <a href="?page={{ page_obj.previous_page_number }}" class="button red">
                                    <span>Prev</span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <div class="pagination-next">
                                    <a href="?page={{ page_obj.next_page_number }}" class="button red">
                                          <span>Next</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <br/>
                <br/>
                </div>
            <br/>
            </div>
        </div>
    <br/>

</div>

<script>
 $(document).ready(function()
    {
    $('#user-id').select2();

 function q(){
             userId = $("#user-id").val();
             startDate = $('#start-date').val();
             endDate = $('#end-date').val();

             if($('#search-txt').val() != "") {
                  url = window.location.pathname + "?q=" + $('#search-txt').val();
             } else {
                  url = window.location.pathname + '?';
             }

             if(userId !="")
             {
                 url += '&user_id=' + userId
             }

             if(startDate!="" && endDate!="" )
             {
                 url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
             }

             window.location.assign(url)
         }

    $('#search-btn').click(q);

    $('#user-id').change(q);

    $('#period').change(function() {
        period_val = $(this).val();
        url = window.location.pathname + '?filter=' + period_val.replace(' ', '-');
        {% if q %}
            url += "&q={{ q }}";
        {% endif %}
        window.location.assign(url)
    });

    $('#csv-download').click(function(){
        url = "{% url "user:sub-distributor-csv" %}" + window.location.search;
        window.location.assign(url)
    })
     var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
            return $('#end-date').val();
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }else if ($("#start-date").val() != '' && $("#end-date").val() != ''){q();}
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }else if ($("#start-date").val() != '' && $("#end-date").val() != ''){q();}
         });
        });

</script>
{% endblock %}
