{% extends 'base.html' %}

{% block title %} Merchants List {% endblock %}

{% block content %}

    <div class="content-wrapper">
        <p class="head-right">Merchant Table</p>
    <div class="col-12" >
        <div class="row rm-margin-side">
            <p class="head-left">PERIOD</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between" style="width:90%">
                <select id="period">
                    <option value="All" {% if filter_by == "All" %}selected{% endif %}>All</option>
                    <option value="Today" {% if filter_by == "Today" %}selected{% endif %}>Today</option>
                    <option value="Last Week" {% if filter_by == "Last-Week" %}selected{% endif %}>Last Week</option>
                    <option value="Last Month" {% if filter_by == "Last-Month" %}selected{% endif %}>Last Month</option>
                </select>
                <div style="position: relative;">
                    <input class="search" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                    <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                </div>
                <input class="button red" type="button" value="Search" id="search-btn">
                <a class="nav-link" href="{% url 'user:kyc-requests' %}">Reset filters</a>
                <input class="button red" type="button" value="DOWNLOAD CSV" id="csv-download">
            </div>
        </div>
        <br>
        <div class="row" style="padding-right: 50px;">
            <div class="fine">
                <p class="head-bg">KYC Requests</p>
            </div>
        </div>
        <div class="row scroll">

            <div style="width: 100%;">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Doj</th>
                        <th>KYC1</th>
                        <th>KYC1 Type</th>
                        <th>KYC2</th>
                        <th>KYC2 Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    {% for kyc_req in object_list %}
                    <tr>
                        <td>{{ kyc_req.first_name }} {% if kyc_req.last_name %}{{ kyc_req.last_name }}{% endif %} </td>
                        <td>{{ kyc_req.role.name }}</td>
                        <td>{{ kyc_req.at_created|date:"d/m/Y" }}</td>
                        {% for kyc in kyc_req.kyc_details.all %}
                            <td><a href="{{ kyc.get_download_url }}">Download</a></td>
                            <td>{{ kyc.type }}</td>
                        {% endfor %}
                        {% if kyc_req.kyc_details.all.count == 1 %}
                            <td></td>
                            <td></td>
                        {% endif %}
                        {% if kyc_req.kyc_details.all.count == 0 %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                        <td>
                            <h1></h1>
                            {% if kyc_req.kyc_details.last.approval_status == 'I' %}
                                In Process
                            {% elif kyc_req.kyc_details.last.approval_status == 'A' %}
                                Approved
                            {% elif kyc_req.kyc_details.last.approval_status == 'R' %}
                                Rejected
                            {% endif %}
                        </td>
                        <td>
                            {% if kyc_req.kyc_details.all.count %}
                                <a href='{% url "user:kyc-requests" %}?approve={{ kyc_req.id }}'>Approve</a>
                                <a href='{% url "user:kyc-requests" %}?reject={{ kyc_req.id }}'>Reject</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                {% if is_paginated %}

                    <div class="pagination-prev">
                      {% if page_obj.has_previous %}
                          <a href="?page={{ page_obj.previous_page_number }}" >
                           <span>Previous</span>
                          </a>
                      {% else %}
{#                        <li class="disabled">#}
                          <a href="#" class="disabled">
                            <span>Previous</span>
                          </a>
{#                        </li>#}
                      {% endif %}
                    </div>

                    <div class="pagination-next">
                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}" >
                            <span>Next</span>
                          </a>
                      {% else %}
                          <a href="#" {% if not page_obj.has_next %}class="disabled"{% endif %}>
                            <span>Next</span>
                          </a>
                      {% endif %}
                    </div>

                {% endif %}
        </div>
        <br>
    </div>
    </div>

<script>
    $('#search-btn').click(function(){
        {% if filter_by %}
            url = window.location.pathname + '?q=' + $('#search-txt').val() + "&filter={{ filter_by }}";
        {% else %}
            url = window.location.pathname + "?q=" + $('#search-txt').val();
        {% endif %}
        window.location.assign(url)
    });

    $('#period').change(function() {
        period_val = $(this).val();
        url = window.location.pathname + '?filter=' + period_val.replace(' ', '-');
        {% if q %}
            url += "&q={{ q }}";
        {% endif %}
        window.location.assign(url)
    });

    $('#csv-download').click(function(){
        url = "{% url "user:sub-distributor-csv" %}" + window.location.search;
        window.location.assign(url)
    })
</script>
{% endblock %}
