{% extends 'base.html' %}
<!--{% load widget_tweaks %}-->

{% block title %}LoyatyCardList{% endblock %}

{% block content %}

    <div class="content-wrapper scrollbar scrollbar-black bordered-black">
        <p class="head-right">Loyalty-Cards</p>
        {% if api_error %}
            <div class="alert alert-danger" id="alert_msg" style="text-align:center">{{ api_error }}</div>
        {% endif %}
        <div class="col-12" >
            <div class="row scroll">

                <div style="width: 100%;">
                    <table class="table table-hover table-data">
                        <tr style="border-bottom-style: solid;">
                            <th scope="col">Card Id</th>
                            <th scope="col">Card Number</th>
                            <th scope="col">Created</th>
                            <th scope="col">Name</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Mobile No</th>
                        </tr>
                        {% for card in loyalty_cards %}
                            <tr>
                                <td>{{ card.prepaidcardid }}</td>
                                <td>{{ card.cardnumber }}</td>
                                <td>{{ card.created_at }}</td>
                                <td>{{ card.name }}</td>
                                <td>{{ card.balance }}</td>
                                <td>{{ card.mobile }}</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <!--<div class="pagination-prev">-->
                <!--{% if has_prev_page %}-->
                    <!--<a href="{% url "user:terminal-list" %}?{{prev_page_qs}}" class="button red" >Prev</a>-->
                <!--{% endif %}-->
                <!--</div>-->

                <!--<div class="pagination-next">-->
                    <!--{% if has_next_page %}-->
                        <!--<a href="{% url "user:terminal-list" %}?{{next_page_qs}}" class="button red" >Next</a>-->
                    <!--{% endif %}-->
                <!--</div>-->
            </div>
            <br>
        </div>
    </div>

<script>

    $(document).ready(function()
    {
        $('#terminal-id').select2();
        $('#search-btn').click(function(){
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();
            url = window.location.pathname + "?q=" + $('#search-txt').val();

            if(startDate!="" && endDate!="" )
            {
                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }

            window.location.assign(url)
        });

         $('#terminal-id').change(function(){
         terminalId = $("#terminal-id").val();
         all = "";

         var selectedAll = $("#user-transaction-id :selected").text();
             if (selectedAll.includes("ALL"))
             {
                all = terminalId;
                terminalId = ""
                 url = window.location.pathname +'?terminal-id=' + all
             }
              if(terminalId !="")
                {
                    url = window.location.pathname +'?terminal-id=' + terminalId
                }
          window.location.assign(url)
        });

        $('#period').change(function() {
            period_val = $(this).val();
            url = window.location.pathname + '?filter=' + period_val.replace(' ', '-');
            {% if q %}
                url += "&q={{ q }}";
            {% endif %}
            window.location.assign(url)
        });

        $('#csv-download').click(function()
        {
            url = "{% url "user:terminal-csv" %}" + window.location.search;
            window.location.assign(url)
        });
         var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
            return $('#end-date').val();
            }
        }).on('change', function (ev)
         {
            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });

        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            }
        }).on('change', function (ev)
         {
            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });
    });
</script>
{% endblock %}