{% extends 'base.html' %}

{% block title %} Merchants List {% endblock %}

{% block content %}

    <div class="content-wrapper">
        <p class="head-right">Merchant Table</p>
        <div class="row rm-margin-side">
            <p class="head-left">PERIOD</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between" style="width:90%">
                <select>
                    <option>Today</option>
                    <option>Last Week</option>
                    <option>Last Month</option>
                </select>
                <input class="search" type="search" name="search" placeholder="search">
                <input class="button red" type="button" value="DOWNLOAD CSV">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="fine">
                <p class="head-bg head-bg2">Merchants<i class="fa fa-chevron-up"
                                                                                  style="color:white;"></i></p>
            </div>
        </div>
        <div class="row scroll">

            <div style="width: 100%;">
                <table>
                    <tr>
                        <th>Merchant Id</th>
                        <th>Merchant Name</th>
                        <th>DOJ</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    {% if is_queryset %}
                        {% for merchant in queryset %}
                        <tr>
                            <td>{{ merchant.id }}</td>
                            <td>{{ merchant.first_name }} {{ merchant.last_name|default_if_none:""}}</td>
                            <td>{{ merchant.at_created }}</td>
                            <td>{{ merchant.mobile_no }}</td>
                            <td>{{ merchant.email }}</td>
                            <td>{{ merchant.is_active }}</td>
                            <td><button>Active</button></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% for map in merchant_map %}
                        <tr>
                            <td>{{ map.merchant.id }}</td>
                            <td>{{ map.merchant.first_name }} {{ merchant.last_name }}</td>
                            <td>{{ map.merchant.at_created }}</td>
                            <td>{{ map.merchant.mobile_no }}</td>
                            <td>{{ map.merchant.email }}</td>
                            <td>{{ map.merchant.is_active }}</td>
                            <td><button>Active</button></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>

        </div>
        <br>

    </div>
    
{% endblock %}
