{% extends 'base.html' %}

{% block title %} Merchants List {% endblock %}

{% block content %}

    <div class="content-wrapper">
        <p class="head-right">Merchant Table</p>
    <div class="col-12" >
        <div class="row rm-margin-side">
            <p class="head-left">PERIOD</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between" style="width:90%">
                <select id="period">
                    <option value="Today" {% if filter_by == "Today" %}selected{% endif %}>Today</option>
                    <option value="Last Week" {% if filter_by == "Last-Week" %}selected{% endif %}>Last Week</option>
                    <option value="Last Month" {% if filter_by == "Last-Month" %}selected{% endif %}>Last Month</option>
                </select>
                <div style="position: relative;">
                    <input class="search" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                    <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                </div>
                <a class="nav-link" href="{% url 'user:merchant-list' %}">Reset filters</a>
                <input class="button red" type="button" value="Search" id="search-btn">
                <input class="button red" type="button" value="DOWNLOAD CSV" id="csv-download">
            </div>
        </div>
        <br>
        <div class="row" style="padding-right: 50px;">
            <div class="fine">
                <p class="head-bg">Merchants</p>
            </div>
        </div>
        <div class="row scroll">

            <div style="width: 100%;">
                <table>
                    <tr>
                        <th>Merchant Id</th>
                        <th>Merchant Name</th>
                        <th>DOJ</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    {% if queryset %}
                        {% for merchant in queryset %}
                        <tr>
                            <td>{{ merchant.id }}</td>
                            <td>{{ merchant.first_name }} {{ merchant.last_name|default_if_none:""}}</td>
                            <td>{{ merchant.at_created }}</td>
                            <td>{{ merchant.mobile_no }}</td>
                            <td>{{ merchant.email }}</td>
                            <td>{% if merchant.is_active %}Active{% else %}Inactive{% endif %}</td>
                            <td>
                                {% if merchant.is_active %}
                                    <a href='{% url "user:merchant-list" %}?disable={{ merchant.id }}'>Disable</a>
                                {% else %}
                                    <a href='{% url "user:merchant-list" %}?activate={{ merchant.id }}'>Activate</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% for map in merchant_map %}
                        <tr>
                            <td>{{ map.merchant.id }}</td>
                            <td>{{ map.merchant.first_name }} {{ merchant.last_name|default_if_none:""}}</td>
                            <td>{{ map.merchant.at_created }}</td>
                            <td>{{ map.merchant.mobile_no }}</td>
                            <td>{{ map.merchant.email }}</td>
                            <td>{% if map.merchant.is_active %}Active{% else %}Inactive{% endif %}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>

            <div class="pagination-prev">
                {% if has_prev_page %}
                    <a href="{% url "user:merchant-list" %}?{{prev_page_qs}}" class="button red">Prev</a>
                {% endif %}
            </div>

            <div class="pagination-next">
                {% if has_next_page %}
                    <a href="{% url "user:merchant-list" %}?{{next_page_qs}}" class="button red">Next</a>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    </div>

<script>
    $('#search-btn').click(function(){
        {% if filter_by %}
            url = window.location.pathname + '?q=' + $('#search-txt').val() + "&filter={{ filter_by }}"
        {% else %}
            url = window.location.pathname + "?q=" + $('#search-txt').val()
        {% endif %}
        window.location.assign(url)
    })

    $('#period').change(function() {
        period_val = $(this).val()
        url = window.location.pathname + '?filter=' + period_val.replace(' ', '-')
        {% if q %}
            url += '&q={{ q }}'
        {% endif %}

        window.location.assign(url)
    })

    $('#csv-download').click(function(){
        url = "{% url "user:merchant-csv" %}" + window.location.search
        window.location.assign(url)
    })
</script>
{% endblock %}
