{% extends 'base.html' %}

{% block title %} Merchants List {% endblock %}

{% block content %}

<div class="content-wrapper">
    <p class="head-right">Merchant Table</p>
    <div class="row rm-margin-side">
            <div class="col-2">
                <p class="head-left">START DATE</p>
            </div>
            <div class="col-2">
                <p class="head-left">END DATE</p>
            </div>
        </div>
    <div class="row rm-margin-side">
        <div class="col-2">
        <input id="start-date" name="startDate" width="160" class="search"  value="{{startDate}}"  />
        </div>
        <div class="col-2">
        <input id="end-date" name="endDate" width="160"  class="search" value="{{endDate}}"   />
        </div>
        {% if distributor_list %}
            <div class="col-3" id="select1" style="margin-left:10px;">
            <select id="distributor-id"  name="distributor-id">
                <option value="-1">ALL</option>
                {% for distributor in distributor_list %}
                    <option value="{{ distributor.id }}" {% if  distributor.id == distributor_id %}selected{% endif %}>{{ distributor.first_name }} {{ distributor.last_name|default_if_none:""}}</option>
                 {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="col-3" style="margin-left:60px;">
            <select id="sub-distributor-id"  name="sub-distributor-id">
                <option value="-3">ALL</option>
                {% for key,val in subDistMerchant.items %}
                    <optgroup label = "{{val.0.0}} ">
                        <option value="{{key}}"{% if key == sub_distributor_id  %}selected{% endif %}>ALL-{{val.0.0}}</option>
                        {% for subdrow in val %}
                            <option value="{{subdrow.1}}" {% if subdrow.1 == merchant_id %}selected{% endif %}>{{ subdrow.2 }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="div-width-100">
            <br>
            <div class="row">
                <div class="align-items-center div-width-100">
                    <div class="float-left">
                        <input class="search" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                        <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
                    </div>
                    <input class="button red float-left mar_l_10" type="button" value="Search" id="search-btn">
                    <input class="button red float-right" type="button" value="DOWNLOAD CSV" id="csv-download">
                    <a class="nav-link float-right" href="{% url 'user:merchant-list' %}">Reset filters</a>
                    </div>
            </div>
            <br>
            <div class="row">
                <div class="fine">
                    <p class="head-bg">Merchants</p>
                </div>
            </div>
            <div class="row scroll">

            <div style="width: 100%;">
                <table>
                    <tr>
                        <th>Merchant Id</th>
                        <th>Merchant Name</th>
                        <th>DOJ</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                        <th>Update</th>
                    </tr>
                    {% if queryset %}
                        {% for merchant in queryset %}
                        <tr>
                            <td>{{ merchant.id }}</td>
                            <td>{{ merchant.first_name }} {{ merchant.last_name|default_if_none:""}}</td>
                            <td>{{ merchant.at_created }}</td>
                            <td>{{ merchant.mobile_no }}</td>
                            <td>{{ merchant.email }}</td>
                            <td>{% if merchant.is_active %}Active{% else %}Inactive{% endif %}</td>
                            <td>
                                {% if merchant.is_active %}
                                    <a href='{% url "user:merchant-list" %}?disable={{ merchant.id }}'>Disable</a>
                                {% else %}
                                    <a href='{% url "user:merchant-list" %}?activate={{ merchant.id }}'>Activate</a>
                                {% endif %}
                            </td>
                            <td> <a href='{% url "user:user-update" pk=merchant.id%}'>Update</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% for map in merchant_map %}
                        <tr>
                            <td>{{ map.merchant.id }}</td>
                            <td>{{ map.merchant.first_name }} {{ merchant.last_name|default_if_none:""}}</td>
                            <td>{{ map.merchant.at_created }}</td>
                            <td>{{ map.merchant.mobile_no }}</td>
                            <td>{{ map.merchant.email }}</td>
                            <td>{% if map.merchant.is_active %}Active{% else %}Inactive{% endif %}</td>
                            <td> <a href='{% url "user:user-update" pk=map.merchant.id%}'>Update</a></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table><br/>
                {% if is_paginated %}
                    <div class="pagination">
                        {% if has_prev_page %}
                            <div class="pagination-prev">
                                <a href="{% url 'user:merchant-list' %}?{{prev_page_qs}}" class="button red">Prev</a>
                            </div>
                        {% endif %}
                        {% if has_next_page %}
                            <div class="pagination-next">
                                <a href="{% url 'user:merchant-list' %}?{{next_page_qs}}" class="button red">Next</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>

<script>
 $(document).ready(function(){

    $('#distributor-id').select2();
    $('#sub-distributor-id').select2();

     distributor_id = $("#distributor-id").val()


    $("#distributor-id").change(function()
     {
        var id = $(this).val();

        url = window.location.pathname
        if (id!="")
        {
            url += '?distributor-id='+id

        }
        window.location.assign(url)
     });

      $("#sub-distributor-id").change(function(){
            subdistributorId = $("#sub-distributor-id").val();
            merchantId ="";
            distributor_id = $("#distributor-id").val()
             var selectedAll = $("#sub-distributor-id :selected").text();
             var subdistributorAll ="";
             if (selectedAll.includes("ALL"))
             {
                if(subdistributorId == -1)
                {
                    merchantId = subdistributorId;
                    subdistributorId = "";
                }
             }
             else
             {
                  merchantId = subdistributorId;
                  subdistributorId = "";

             }

             url = window.location.pathname
             if( distributor_id > 0)
             {
                url += '?merchant-id='+merchantId + '&distributor-id='+distributor_id ;
             }
             else
             {
                 url += '?merchant-id='+merchantId
             }

             if(subdistributorId != "")
             {
                url = window.location.pathname+ "?";
                 if (distributor_id)
                    url += "distributor-id="+distributor_id
                url += "&sub-distributor-id="+subdistributorId
             }


             window.location.assign(url)


         });


    $('#search-btn').click(function(){
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();
        {% if filter_by %}
            url = window.location.pathname + '?q=' + $('#search-txt').val() + "&filter={{ filter_by }}"
        {% else %}
            url = window.location.pathname + "?q=" + $('#search-txt').val()
        {% endif %}

        if(startDate!="" && endDate!="" )
            {

                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }

        window.location.assign(url)
    })



    $('#csv-download').click(function(){
        url = "{% url "user:merchant-csv" %}" + window.location.search
        window.location.assign(url)
    })

    var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
            return $('#end-date').val();
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });

    });
</script>
{% endblock %}
