{% extends 'base.html' %}

{% block title %} Sub-Distributors List {% endblock %}

{% block content %}

    <div class="content-wrapper">
        <p class="head-right">Sub-Distributor Table</p>
    <div class="col-12" >
        <div class="row rm-margin-side">
                <div class="col-2">
                    <p class="head-left">START DATE</p>
                </div>
                <div class="col-2">
                    <p class="head-left">END DATE</p>
                </div>
            </div>
            <div class="row rm-margin-side">
                <div class="col-2">
                    <input id="start-date" name="startDate" width="160" class="search"  value="{{startDate}}"  />
                </div>
                <div class="col-2">
                    <input id="end-date" name="endDate" width="160"  class="search" value="{{endDate}}"   />
                </div>
                <div class="col-4">
                    <select id="sub-distributor-id"  name="sub-distributor-id">
                        <option value="-1">ALL</option>
                            {% for key,val in subDistributor.items %}
                                <optgroup label = "{{val.0.0}} ">
                                     <option value="{{key}}"{% if key == distributor_id %}selected{% endif %}>ALL-{{val.0.0}}</option>
                                    {% for subdrow in val %}
                                        <option value="{{subdrow.1}}" {% if subdrow.1 == sub_distributor_id %}selected{% endif %}>{{ subdrow.2 }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                    </select>
                </div>
            </div>
        <div class="row rm-margin-side">
            <p class="head-left">PERIOD</p>
        </div>
        <div class="row">
            <div style="position: relative;">
                <input class="search" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="search" style="background-color: #e7e7e7;width: 290px;height: 36px;">
                <i id="filtersubmit" class="fa fa-search" style="position: absolute;right: 10px;top: 10px;"></i>
            </div>
            &nbsp;&nbsp;
            <input class="button red" type="button" value="Search" id="search-btn">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input class="button red" type="button" value="DOWNLOAD CSV" id="csv-download">
        </div>

        <br>
        <div class="row" style="padding-right: 50px;">
            <div class="fine">
                <p class="head-bg">List of Sub-Distributors</p>
            </div>
        </div>
        <div class="row scroll">

            <div style="width: 100%;">
                <table>
                    <tr>
                        <th>Sub-Distributor Id</th>
                        <th>Sub-Distributor Name</th>
                        <th>DOJ</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    {% for subdist_mapping in queryset %}
                        <tr>
{#                            <td>{{ distributor.id }}</td>#}
{#                            <td>{{ distributor.first_name }} {{ distributor.last_name |default_if_none:""}}</td>#}
{#                            <td>{{ distributor.state }}</td>#}
{#                            <td>{{ distributor.email }}</td>#}
{#                            <td>{{ distributor.is_active }}</td>#}
{#                            <td>{{ distributor. }}</td>#}

                            <td>{{ subdist_mapping.sub_distributor.id }}</td>
                            <td>{{ subdist_mapping.sub_distributor.first_name }} {{ subdist_mapping.subdistributor.last_name|default_if_none:""}}</td>
                            <td>{{ subdist_mapping.at_created }}</td>
                            <td>{{ subdist_mapping.sub_distributor.mobile_no }}</td>
                            <td>{{ subdist_mapping.sub_distributor.email }}</td>
                            <td>{% if subdist_mapping.is_active %}Active{% else %}Inactive{% endif %}</td>
                            <td>
                                {% if subdist_mapping.is_active %}
                                    <a href='{% url "user:sub-distributor-list" %}?disable={{ subdist_mapping.id }}'>Disable</a>
                                {% else %}
                                    <a href='{% url "user:sub-distributor-list" %}?activate={{ subdist_mapping.id }}'>Activate</a>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
            <div class="pagination-prev">
                {% if has_prev_page %}
                    <a href="{% url "user:sub-distributor-list" %}?{{prev_page_qs}}" class="button red">Prev</a>
                {% endif %}
            </div>

            <div class="pagination-next">
                {% if has_next_page %}
                    <a href="{% url "user:sub-distributor-list" %}?{{next_page_qs}}" class="button red">Next</a>
                {% endif %}
            </div>
        </div>
        <div>

        </div>
        <br>
    </div>
    </div>

<script>

    $(document).ready(function(){
    $('#sub-distributor-id').select2();


    $('#search-btn').click(function(){
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();
        {% if filter_by %}
            url = window.location.pathname + '?q=' + $('#search-txt').val() + "&filter={{ filter_by }}"
        {% else %}
            url = window.location.pathname + "?q=" + $('#search-txt').val()
        {% endif %}

        if(startDate!="" && endDate!="" )
            {
                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }

        window.location.assign(url)
    })

     $('#sub-distributor-id').change(function(){
         var subdistributorId = $('#sub-distributor-id').val();
         var distributorId = "";

         var selectedAll = $("#sub-distributor-id :selected").text();
             if (selectedAll.includes("ALL"))
             {
                distributorId = subdistributorId;
                subdistributorId = ""
                if(distributorId!="")
                {
                 url =window.location.pathname +'?distributor-id='+ distributorId;
                }
             }


              if(subdistributorId!="")
                {
                 url = window.location.pathname + '?sub-distributor-id='+ subdistributorId;
                }

          window.location.assign(url)
    });



    $('#csv-download').click(function(){
        url = "{% url "user:sub-distributor-csv" %}" + window.location.search
        window.location.assign(url)
    })

         var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
            return $('#end-date').val();
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });









    });
</script>
{% endblock %}
